.auth-section{
  width: 396px;
  margin: 0 auto;
  padding-top: 70px;
}
.auth-section__title{
  margin: 36px 0 40px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.auth-section__button{
  cursor: pointer;
  background-color: #2be080;
  border-radius: 3px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 13px 0 15px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  transition: opacity ease-in-out 0.3s;
}
.auth-section__button:hover{
  opacity: 0.7;
}
.auth-section__button_state_disabled{
  background-color: #f8f8f8;
  color: #c2c2c2;
}
.auth-section__form{
  display: flex;
  flex-direction: column;
  min-height: 425px;
}

.auth-section__form-footer{
  margin-top: auto;
}
.auth-section__bottom-info{
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
}
.auth-section__bottom-link{
  text-decoration: none;
  color: #2be080;
  transition: opacity ease-in-out 0.3s;
  margin-left: 7px;
}
.auth-section__bottom-link:hover{
  opacity: 0.7;
}

@media screen and (max-width: 768px){
  .auth-section{
    padding-top: 233px;
  }
}
@media screen and (max-width: 500px){
  .auth-section{
    width: auto;
    padding-top: 56px;
  }
  .auth-section__header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .auth-section__title{
    margin: 46px 0 80px;
  }
  .auth-section__form{
    width: 260px;
    min-height: 509px;
  }
  .auth-section__button{
    font-size: 12px;
    line-height: 15px;
  }
  .auth-section__bottom-info{
    font-size: 12px;
    line-height: 15px;
    margin-top: 15px;
  }
}
