.profile__form{
  width: 100%;
  margin-top: 91px;
}
.profile__field-wrap{
  margin: 0;
  padding: 0;
  position: relative;
  border: none;
  border-bottom: 1px solid #e8e8e8;
}
.profile__field-wrap:last-of-type{
  border-bottom: none;
}
.profile__field-name{
  position: absolute;
  left: 0;
  top: 17px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}
.profile__field-input{
  text-align: right;
  width: 100%;
  border: none;
  padding: 17px 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 13px;
  background-color: #fff;
}
.profile__form-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 166px;
}
.profile__form-edit{
  border: none;
  background-color: transparent;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  transition: opacity ease-in-out 0.3s;
  margin-bottom: 14px;
}
.profile__form-edit:hover{
  opacity: 0.7;
}
.profile__logout{
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #ff004d;
  outline-color: #ff004d;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  transition: opacity ease-in-out 0.3s;
}
.profile__logout:hover{
  opacity: 0.7;
}
.profile__form-submit{
  width: 100%;
  border: none;
  cursor: pointer;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  background-color: #2be080;
  padding: 14px 0;
  border-radius: 3px;
  transition: opacity ease-in-out 0.3s;
}
.profile__form-submit:hover{
  opacity: 0.7;
}
.profile__form-submit_state_disabled{
  background-color: #f8f8f8;
  color: #c2c2c2;
}

@media screen and (max-width: 768px){
  .profile__form{
    margin-top: 64px;
  }
  .profile__form-footer{
    margin-top: 156px;
  }
}
@media screen and (max-width: 500px){
  .profile__form{
    margin-top: 48px;
  }
  .profile__form-footer {
    margin-top: 324px;
  }
  .profile__form-edit{
    font-size: 12px;
    line-height: 15px;
  }
  .profile__logout{
    font-size: 12px;
    line-height: 15px;
  }
}
