.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 60px;
}
.not-found__title{
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  margin: 186px 0 0;
}
.not-found__description{
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 19px;
  margin: 5px 0 0;
  text-align: center;
}
.not-found__back-link{
  display: block;
  margin-top: 183px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #2be080;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (max-width: 768px){
  .not-found__title{
    margin: 348px 0 0;
  }
}
@media screen and (max-width: 500px){
  .not-found{
    padding: 39px 60px;
  }
  .not-found__content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .not-found__title{
    font-size: 80px;
    line-height: 97px;
    margin: 291px 0 0;
  }
  .not-found__description{
    font-size: 12px;
    line-height: 15px;
    margin-top: 9px;
  }
  .not-found__back-link{
    margin-top: auto;
    font-size: 12px;
    line-height: 15px;
  }
}
