.navbar__personal-item{
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #000;
  margin-left: 30px;
  transition: opacity 0.3s ease-in-out;
}
.navbar__personal-item:first-of-type{
  margin-left: 0;
}
.navbar__personal-item:hover{
  opacity: 0.7;
}
.navbar__personal-item_theme_dark{
  color: #fff;
}
.navbar__personal-item_type_login{
  background-color: #2be080;
  border-radius: 3px;
  color: #000;
  padding: 8px 20px;
}
.navbar__personal-item_type_login:hover{
  opacity: 0.8;
}
.navbar__personal-item_type_profile{
  position: relative;
  display: block;
  font-size: 14px;
  padding-right: 43px;
}
.navbar__personal-item_type_profile::before{
  content: '';
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  top: -8px;
  background-color: #f9f9f9;
  border-radius: 6px;
}
.navbar__personal-item_type_profile::after{
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  right: 9px;
  top: 1px;
  background-image: url(../../images/icon_profile.png);
  background-size: cover;
}
@media screen and (max-width: 768px){
  .navbar__personal-item_type_profile{
    color: #000;
  }
}
@media screen and (max-width: 500px){
  .navbar__personal-item{
    font-size: 10px;
    line-height: 16px;
  }
  .navbar__personal-item_type_login{
    padding: 5px 12px;
    margin-left: 15px;
  }
  .navbar__personal-item_type_profile{
    font-size: 14px;
  }
}
