.movies__pagination-wrap{
  display: flex;
  justify-content: center;
  margin-bottom: 78px;
}
.movies__pagination-button{
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border: none;
  background: #f9f9f9;
  width: 320px;
  padding: 12px 0;
  border-radius: 6px;
  transition: opacity ease-in-out 0.3s;
}
.movies__pagination-button:hover{
  opacity: 0.7;
  cursor: pointer;
}
@media screen and (max-width: 768px){
  .movies__pagination-button{
    padding: 10px 0;
  }
  .movies__pagination-wrap{
    margin-bottom: 114px;
  }
}
