.auth-section__input-wrap{
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  margin: 0px 0 20px;
}
.auth-section__input-wrap:last-of-type{
  margin: 0;
}
.auth-section__input-title{
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 10px;
  color: #a0a0a0;
}
.auth-section__input{
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  border: none;
  padding: 15px;
  background-color: #f9f9f9;
}
.auth-section__input_state_error{
  color: #ee3465;
}
