.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 70px;
}

.header_theme_dark{
  background-color: #5c5c5c;
}

.header__logo{
  display: block;
  max-width: 38px;
  max-height: 38px;
  object-fit: cover;
}
.header__menu{
  width: 100%;
}
.header__menu-overlay{
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  transition: opacity ease-in-out 0.3s;
}
.header__menu-button{
  opacity: 0;
  visibility: hidden;
  border: none;
  background-color: transparent;
  background-image: url(../../images/burger.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 47px;
  height: 38px;
  display: none;
}
.header__menu-button_theme_dark{
  background-image: url(../../images/burger-white.png);
}

@media screen and (max-width: 768px){
  .header{
    padding: 18px 30px;
  }
  .header__menu-overlay_state_visible{
    opacity: 0.3;
    visibility: visible;
  }
  .header__menu-button{
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 500px){
  .header{
    padding: 18px 14px;
  }
}
