.tab-button{
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  border-radius: 3px;
  padding: 9px 19px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.tab-button:hover{
  opacity: 0.8;
}
